# 2- identity verification

#### [Identity Verification Tutorial ](https://www.loom.com/share/dc71bcb0e80d4f839c307309973be99d)- Length: 23 seconds

{% embed url="https://www.loom.com/share/dc71bcb0e80d4f839c307309973be99d" %}



